/* p{
    background-color: blue;
} */
 /*.logo-and-nav{
    display: flex;
}
.logo{
    width: 100px;
    height: 100px;
} */

/*topography */
h1{
    font-family: fantasy;
    font-size: 50px;
}

.paragraph{
    font-weight:bolder;
    letter-spacing: 3px; */
    word-spacing: 3px;
    line-height: 30px;
    text-align: justify;
    color: red;
    background-color: rgb(29, 23, 15);
}

#paragraph{
    opacity:0.8; 
    background-color: white; */
}

header .hero-div{
    width: 100%;
    height: 400px;
    background-image: url('../images/Fruit2.jpg');
}
/* .hero-div{
    width: 100%;
    height: 400px;
    background-image: url('../images/Fruit2.jpg');
    background-size: cover;
    background-position: center;
    background-color: blue;
} */

{
*padding:0px
margin: 0px;
}

.hero-div-2{
    margin: 100px;
    background-image: url("../images/Fruit1.jpg");
    max-width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border:5px dotted blue;
}

.fruit{
    padding-right: 40%;
    border-radius: 3px;
    border-right: 10px solid blue;

}

.fruit img{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: palegreen;
    margin: 50px;
    background-size: cover;
    border-bottom: 10px solid blue;
}
/*about Us*/
.categories{
    display :flex;
    flex-wrap: wrap;
    justify-self: space-between;
    padding: 20px;
}

.categories div {
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: blueviolet;
    text-align: center;
}

/* .hero-div{